@import "../../../_css/common";

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
  align-items: flex-start;
  width: 100%;
}

.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
