@import "../../_css/common";

.confirmationPage {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;

  p {
    margin-top: 16px;
  }
}
